*{
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
}

#top-bar{
    width:100%;
    padding-top:40px;
    background: black;
    height:240px;
    position:fixed;
    top:0px;
    z-index: 1;
}

/*body*/
body
{
    width: 1024px;
    height: 1600px;
    font-family: "Arial Black";
    font-size: 16px;
    display: flex;
    margin: 0 auto;
    background-color: black;
}

/*container*/
.container
{
    margin: 0 60px;
    padding: 40px 0 0 0;
}

/*header*/
.header
{
    display: flex;
    align-items: flex-start;

}
.header_logo
{
    width: 95px;
    height: 95px;
}
.header_word
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    margin-left: 30px;
}
.header_word_title
{
    font-size: 46px;
}
.header_word_supplement
{
    font-size: 13px;
}

/*dividing_line*/
.dividing_line
{
    width: 1000px;
    height: 1px;
    margin: 25px 0;
    background-color: white;
}
.set2
{
    width: 950px;
}
/*navi*/
.navi
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navi_SCP_series
{
    border: white 1px solid;
    display: inline-block;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
}
.navi_SCP_series li
{
    width:150px;
    text-align:center;
    position: relative;
    white-space: nowrap;
    border-right: white 1px solid;
}
.navi_SCP_series > li:last-child
{
    border-right: none;
}
.navi_SCP_series > li
{
    float: left;
}
.navi_SCP_series a
{
    background-color: black;
    color: white;
    display: block;
    padding: 0 30px;
    text-decoration: none;
    line-height: 40px;
}
.navi_SCP_series a:hover
{
    background-color: white;
    color: gray;
}
.navi_SCP_series li:hover > a
{
    background-color: white;
    color: gray;
}
.navi_SCP_series ul
{
    border: white 1px solid;
    position: absolute;
    z-index: 99;
    left: -1px;
    top: 100%;
    min-width: 100px;
}
.navi_SCP_series ul li
{
    border-bottom: white 1px solid;
}
.navi_SCP_series ul
{
    display: none;
}
.navi_SCP_series li:hover > ul
{
    display: block;
}
/*SCP*/
.SCP_title
{
    color: white;
    font-size: 30px;
    margin-left: 10px;
}
.SCP
{
    display: flex;
    margin-left: 15px;
    flex-wrap: wrap;
}
.SCP_level
{
    color: white;
    width: 930px;
    margin-left: 20px;
}
/*footer*/
.footer
{
    display: flex;
    position: fixed;
    bottom: 0;
    background: gray;
    border-bottom: 0;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(65, 60, 60, 0.74);
    border-radius: 5px;
    margin-left: 60px;
    height: 40px;
    width: 994px;
    align-items: center;
    justify-content: space-between;
    padding:0 15px;
}